
extends layout

    body
        form(name="input", action="/login", method="post")
            input(type="text", name="username") User Name
            input(type="password", name="password") Password
            input(type="submit", value="submit")