  script(src='/javascripts/watchlist.js', type='text/javascript')
  table(id='watchlist')
    thead
      tr
        td Symbol (width=10)
        td Bid
        td Ask
        td Latency
    tbody(data-bind='foreach: items')
      tr
        td(data-bind='text: sym')
        td
          button(data-bind='text: bid, click: sendSellOrder')
        td
          button(data-bind='text: ask, click: sendBuyOrder')
        td
          button(data-bind='text: latency')

