body {
  font: 12px Arial, sans-serif;
  background: #2f4f4f;
  color: #90ee90;
}
button {
  font: 12px Arial, sans-serif;
  background: #2f4f4f;
  color: #90ee90;
}
.quote-button {
  color: #ff0;
  text-align: right;
}
td {
  width: 120px;
}
