font-size = 12px

body
    font font-size Arial, sans-serif
    background darkslategrey
    color lightgreen

button
    font font-size Arial, sans-serif
    background darkslategrey
    color lightgreen

.quote-button
    color yellow
    text-align right

td
    width 120px
